<div class="song-{{song.id}}">
    <p>{{song.audio_file.name}}</p>
    <audio controls>
    <source src="http://127.0.0.1:8000{{song.audio_file.url}}" type="audio/mpeg">
    error
    </audio>
    {% if request.user not in song.listeners.all %}
    <form action="{{request.path}}" method="POST">
        {% csrf_token %}
        <input type='submit' name='example' value="+"/>
        <input type="hidden" name="song_id" value="{{song.id}}">
        <input type="hidden" name="change_song_status" value="add">
    </form>
    {% else %}
    <form action="{{request.path}}" method="POST">
        {% csrf_token %}
        <input type='submit' name='example' value="-"/>
        <input type="hidden" name="song_id" value="{{song.id}}">
        <input type="hidden" name="change_song_status" value="remove">
    </form>
    {% endif %}
</div>