{% extends 'base.html' %}
{% block content %}
{% if request.user == username %}
    <p>Your music</p>
{% else %}
    <p>{{username}}'s music</p>
{% endif %}
<div class="music-list">
    {% for song in page_obj %}
        <div class="song-{{song.id}}">
            <audio controls>
            <source src="http://127.0.0.1:8000{{song.audio_file.url}}" preload="none">
            error
            </audio>
            <form action="{{request.path}}/{{song.id}}" method="POST">
                {% csrf_token %}
                <input type='submit' name='example' value="+"/>
            </form>
            <form action="{{request.path}}/{{song.id}}" method="POST">
                <input type='submit' name='example' value="-"/>
            </form>
            <!-- <button value="add"></button>
            <button value="delete">-</button> -->
        </div>
    {% endfor %}
</div>
{% endblock content %}